@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --winner-color: #14A76C;
    --line-color: #272727;
    --X-color: #FFE400;
    --Title-color: #FF652F;
}

.body{
    display: flex;
    font-family: 'Roboto','Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    margin: 20px;
    color: var(--Title-color);
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
}
.cell{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;;
    border: 1px solid var(--line-color);
    font-size: 2rem;
    cursor: pointer;
    color: var(--X-color);
}

.status{
    font-weight: bold;
    font-size: 3rem;    
    text-align: center;
    margin-top: 30px;
    color: var(--winner-color);
}

button{
    margin-left: 50%;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--line-color);
    border: 2px solid var(--winner-color);
    border-radius: 15px;
    background-color: white;
}